# Python
__pycache__/
models/__pycache__/
# *.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
pyg_env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Checkpoints (large files)
*.pt
*.pth

# Logs and results
results*/
Results*/
Utils*/
datasets*/
analysis_plots*/
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints 

papers/
